Package: groff
Name: groff
Version: 1.22.3-1
Maintainer: Leo Izen (thebombzen) <leo.izen+apt.repo@gmail.com>
Architecture: iphoneos-arm
Description: The groff typesetting system
Priority: optional
Depends: ncurses
Section: Utilities
Tag: purpose::console, role::hacker
Homepage: https://www.gnu.org/software/groff/
Author: Bernd Warken
